<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Edicion de Servicios</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#">Control de Servicios</a>
		</div>
	</nav>
	<br>

	<div class="container">
		<div class="row">
			<div
				class="col-Lg-6 coL-md-6 coL-sm-6 container justify-content-center card">
				<h1 class="text-center">Edicion de Servicios</h1>
				<div class="card-body">
					<form th:action="@{/servicios/guardar}" th:object="${servicio}"
						method="POST">
						<input type="hidden" name="id_serv" th:field="*{id_serv}">
						<div class="form-group">
							<label>Nombre :</label> <input type="text" name="nombre"
								th:field="*{nom}" class="form-control"
								placeholder="Digite el servicio :">
						</div>
						<div class="form-group">
							<label>Fecha y Hora :</label> <select
								th:field="*{ventaservicios}" class="form-control" required>
								<th:block th:each="ventaservicios : ${listaVentas}">
									<option th:text="${ventaservicios.info}"
										th:value="${ventaservicios.id_vser}"></option>
							</select>
						</div>
						<br>
						<div class="box-footer">
							<button class="btn btn-success">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>