<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Theinnovation</title>
<link rel="stylesheet" type="text/css" href="/css/estilos2.css">
</head>

<body>
    <header>
        <nav>
            <a th:href="@{/Visad}">Administrador</a>
            
            <a href="QUIENES SOMOS/Quienessomo.html">Quienes somos </a>
            <a href="./MisionVision/misionyvision.html">Mision Y Vision</a>
            
        </nav>
        <section class="textos-header">
            <h1>BIENVENIDO A THE INNOVATION</h1>
            
        </section>
        
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <center><h2 >Pase Vehicular</h2></center>
            <br>
            <div class="contenedor-sobre-nosotros"> <br> <br>
                <br>
                <img src="/img/Imagen1.jpeg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Pase Vehicular </h3>
                    <p>Consulte este modulo que le permitirá conocer datos específicos sobre su licencia de conducción.
                    La licencia de tránsito contendrá, como mínimo, los siguientes datos: Características de identificación del vehículo, tales como: marca, línea, modelo, cilindrada, potencia, número de puertas, color, número de serie, número de chasis, número de motor, tipo de motor y de carrocería. 


</p>
                   
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Portafolio</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="/img/cond.jpg" alt="">
                        <div class="hover-galeria">
                          
                        
                        </div>
                    </div>
                    
                    <div class="imagen-port">
                        <img src="/img/conduccion.jpeg" alt="">
                        <div class="hover-galeria" >
                        
                            
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/imagen4.jpg" alt="">
                        <div class="hover-galeria">
                            
                        </div>
                    
        </section>
        <div>
            
        </div>
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Nuestros productos</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="/img/motochimba.jpg" alt="">
                        <h3>A1 - A2</h3>
                        <p>A1:Motocicletas con cilindrada hasta 125 c.c. A2:Motocicletas, motocicletas y moto triciclos con cilindrada mayor a 125 c.c</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="/img/carro.jpg" alt="">
                        <h3>B1 - B3</h3>
                        <p> Automóviles, motocarros, cuatrimotos, camperos, camionetas y microbuses de servicio particular.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="/img/camion.jpg" alt="">
                        <h3>C1 - C3 </h3>
                        <p> Automóviles, camperos, camionetas y microbuses de servicio público. C2: Camiones rígidos, busetas y buses de servicio público. C3: Vehículos articulados servicio público. Dentro de una misma nomenclatura, el titular de la licencia de conducción de mayor categoría podrá conducir vehículos de categoría inferior.</p>
                    </div>
                </div>
            </div>


        </section>
    </main>
    


    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>TELEFONOS</h4>
                <p>3102215582</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>Juanpabloherran@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Sede</h4>
                <p>Sede bosa</p>
            </div>
            <div class="content-foo">
                <h4>Direccion</h4>
                <p>Calle 57 a sur # 93 c 98</p>
            </div>
        </div>
        <h2 class="titulo-final"> CORREO INNOVATION: INNOVATION@gmail.co.com
          |</h2>
    </footer>
</body>

</html>
</html>